*, 
*::after, 
*::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Source Sans Pro', sans-serif;
   color: #151515;
   user-select: none;
}


/* ===== Typography ====== */

.title {
   font-size: 1.5rem;
   margin-bottom: .5em;
}

.logo-text {
   font-size: 1rem;
}

.sub-title {
   font-size: 1.25rem;
   margin-bottom: 1em;
}

.blog-title {
   font-size: 1rem;
}

.intro-date {
   font-size: 0.75rem;
   margin: 5em 0 .5em;
   text-transform: uppercase;
}

.intro-date,
p {
   letter-spacing: 1px;
}

p {
   font-size: .825rem;
   line-height: 1.4;
}

.intro-date {
   opacity: .8;
}

.posts-title {
   text-align: center;
   margin: 1.5em 0;
}

.blog-title {
   font-size: 1rem;
   margin-bottom: 0.5em;
}

.post-content-date {
   margin: .5em 0;
   text-transform: uppercase;
}


/* ===== Layout ===== */

header {
   padding: 1em 0;
}

.container {
   width: 90%;
   max-width: 880px;
   margin: 0 auto;
}

.header-flex {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo-container,
.nav-link {
   display: flex;
   align-items: center;
}

.logo-img {
   margin-right: .2em;
}

.post-content-flex {
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
}

.feature-item {
   flex-basis: 220px;
   flex-grow: 1;
   margin-bottom: .5em;
}

.img-item {
   width: 100%;
   height: 220px;
   border-radius: 3px;
}

.intro-date {
   margin-top: 3em;
}

.image-hero {
   width: 100%;
   margin: 1em 0; 
   height: 35vh;
}

.paragraph {
   margin-bottom: 1em;
}

.main-content {
   margin: 1em 0;
}


/* ===== Links ===== */

.logo-title {
   text-decoration: none;
   color: inherit;
   cursor: pointer;
}

.nav-link {
   list-style: none;
}

.nav-link li {
   margin-left: 1.5em;
}

.nav-link a {
   text-decoration: none;
   text-transform: uppercase;
   font-size: 0.725rem;
   font-weight: 700;
   color: #090909;
   opacity: .8;
}

#active:hover {
   color: #090909;
   border-bottom: none;
   cursor: none;
}

.nav-link a:hover,
.nav-link a:focus {
   color: red;
   border-bottom: 3px solid red;
}


/* ===== Footer ===== */

footer {
   background-color: #202020;
   padding: 1em 0;
   color: #fff;
   text-align: center;
}

.footer-paragraph-one {
   margin-bottom: 0.2em;
   font-size: .725rem;
}

.footer-paragraph-two {
   margin-top: 0;
   letter-spacing: 1px;
   font-size: .6rem;
   opacity: .8;
}


/*===== Media queries ===== */

@media(min-width: 679px) {

   body {
      background-color: #fafafa;
   }

   header {
      padding: 1.7em 0;
      background-color: #fff;
   }

   .logo-text {
      font-size: 1.25rem;
   }
   
   .logo-img {
      width: 30px;
   }

   .nav-link a {
      font-size: .9rem;
   }

   .nav-link li {
      margin-left: 3.5em;
   }

   .intro-date {
      margin-top: 1.5em;
   }

   .intro-date {
      font-size: .8rem;
      margin-top: 5em;
   }

   .title {
      font-size: 2rem;
   }

   .sub-title {
      font-size: 1.5rem;
   }

   .posts-title {
      margin-top: 1.5em;
      font-size: 1.25rem;;
   }
   
   .feature-item {
      margin-bottom: 2em;
   }

   .blog-title {
      font-size: 1.25rem;
   }

   .paragraph,
   .paragraph-one,
   .blog-paragraph {
      font-size: 1rem;
   }

   footer {
      padding: 2em 0;
      margin-top: .5em;
   }

   .footer-paragraph-one {
      font-size: 0.9em;
   }

   .footer-paragraph-two {
      font-size: .8em;
   }

}
